@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = null;
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p>
        <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p>
            <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a>
        </p>
    </div>
</div>*@


<!DOCTYPE HTML>
<!--
    Identity by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Welcome to Yanming's Personal Website</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../Content/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <noscript><link rel="stylesheet" href="../../Content/noscript.css" /></noscript>
</head>
<body class="is-loading">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <section id="main">
            <header>
                <span class="avatar" onclick="location.href='@Url.Action("Contact")'">
                    <img src="../../Content/images/Koala.jpg" height ="150" width="180" alt="Profile"/>
                </span>
                @*<h1>Tina Sun</h1>*@
                <h1>@Html.ActionLink("Tina Sun", "Contact")</h1>
                <p>Student at the University Of Iowa</p>
            </header>
            <!--
            <hr />
            <h2>Extra Stuff!</h2>
            <form method="post" action="#">
                <div class="field">
                    <input type="text" name="name" id="name" placeholder="Name" />
                </div>
                <div class="field">
                    <input type="email" name="email" id="email" placeholder="Email" />
                </div>
                <div class="field">
                    <div class="select-wrapper">
                        <select name="department" id="department">
                            <option value="">Department</option>
                            <option value="sales">Sales</option>
                            <option value="tech">Tech Support</option>
                            <option value="null">/dev/null</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <textarea name="message" id="message" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="field">
                    <input type="checkbox" id="human" name="human" /><label for="human">I'm a human</label>
                </div>
                <div class="field">
                    <label>But are you a robot?</label>
                    <input type="radio" id="robot_yes" name="robot" /><label for="robot_yes">Yes</label>
                    <input type="radio" id="robot_no" name="robot" /><label for="robot_no">No</label>
                </div>
                <ul class="actions">
                    <li><a href="#" class="button">Get Started</a></li>
                </ul>
            </form>
            <hr />
            -->
            <footer>
                <ul class="icons">
                    <li><a href="#" class="fa-twitter">Twitter</a></li>
                    <li><a href="#" class="fa-instagram">Instagram</a></li>
                    <li><a href="#" class="fa-facebook">Facebook</a></li>
                </ul>
            </footer>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <ul class="copyright">
                <li>&copy; Yanming Sun</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
        </footer>

    </div>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
    <script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
    </script>

</body>
</html>